<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	If you want to contact us enter the
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
	This is the sample application for the tutorial.
</p>
